.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 7% 0.5rem;
    border-bottom: 1px solid;
    background: #2894f8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar-logo{
    font-size: 1.1rem;
}
.navbar-nav {
  display: flex; 
  gap: 20px;     
  list-style: none; 
  padding: 0;
  margin: 0;
}
.navbar-links{
    color: #fff;
}